<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>POS</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter [routerLink]="'students'">
        <i nz-icon nzType="team"></i>
        <span>Список студентов</span>
      </li>
      <li nz-menu-item nzMatchRouter [routerLink]="'offers'">
        <i nz-icon nzType="exception"></i>
        <span>Список предложений</span>
      </li>
      <li nz-submenu nzOpen nzTitle="Конструктор форм" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Форма оформления мат. помощи</a>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="'forms'">
            <a>Конструктор стандартной формы</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Лица POS</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
